<tr>
    <td>
        <a href="/<%= page_type == Constants.PAGE_TYPE.recruiters ? 'recruiters'
            : page_type == Constants.PAGE_TYPE.managers ? 'managers'
            : 'teams' %>/<%= url(employee.name) %>"><%= employee.name %></a>
    </td>
    <td><%= employee.count_candidates %></td>
    <td><%= employee.count_jobs %></td>

    <%- partial('../ticks/status', {object: employee.statuses, as: 'statuses'}) %>

</tr>