<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Candidate Catapult<%= locals.page_title ? ' - ' + page_title : '' %></title>

    <link rel="alternate" type="application/atom+xml" title="OPOWER Jobs Feed" href="http://opowerjobs.com/atom.xml" />

    <%- styles %>

</head>

<body class="<%= signedIn ? 'signedIn' : 'notSignedIn' %>">
<!--[if lte IE 8]>
<script>document.createElement("nav")</script>
<div style="font-size: 20px; line-height: 20px; position: absolute; background: red; color: white;">Internet Explorer is not supported.
    <br/> OPOWER recommends Google Chrome.
    <br/> Seriously, you should not be using IE.
</div>
<![endif]-->

<% if (session.email) { %>
<nav class="nav clearfix">
    <div class="nav-meta">
        <ul>
            <li>
                <form class="search  <%= page_type == Constants.PAGE_TYPE.search ? 'active' : '' %>" action="/search" method="get">
                    <input class="query" name="q" id="q" value="<%= locals.query || '' %>" placeholder="Find somebody" />
                </form>
            </li>
            <li><a href="/" style="font-weight: bold;"><%= session.name %></a></li>
            <li><a href="https://wiki.opower.com/x/Epe8">Help</a></li>
            <li><a href="/logout">Sign out</a></li>
        </ul>
    </div>
    <a href="/" class="logo"><img src="/images/logo.png" alt="Candidate Catapult" width="275" height="90" /></a>
    <div class="tabs">
        <div class="tabgroup">
            <% var on_home_page = (current_url === session.home_page) %>
            <% var nav_items = [
                    { url: '/referrals', label: 'Your Referrals'},
                    { url: '/sources', label: 'Sources'},
                    { url: '/recruiters', label: 'Recruiters'},
                    { url: '/managers', label: 'Managers'},
                    { url: '/teams', label: 'Teams'},
                    { url: '/jobs', label: 'Jobs'},
                    { url: '/req', label: 'New Req'}
               ] %>
            <% if (session.home_page) {
                  nav_items.unshift(  { url: session.home_page, label: 'Your Candidates', home: true} );
                 } %>
            <% nav_items.forEach(function(nav, i) {
            %>
            <%- i > 0 ? ' ' : ''%><a class="nav-item<%=
                        (nav.home && on_home_page)
                        || (current_url.indexOf(nav.url) == 0 && !on_home_page)
                                    ? ' active' : ''
                                    %>" href="<%= nav.url ? nav.url : '' %>"><span><%=nav.label%></span></a>
            <% }) %>
        </div>
    </div>
</nav>

<div class="content">
    <% if (jobvite_down) { %>
        <div style="background:url(http://lh5.ggpht.com/_hVOW2U7K4-M/SgJFPdzpA5I/AAAAAAABAWs/z6V9TtpqIM0/s640/x4x.jpg); width:640px; height:485px; margin: 50px auto;">
            <div style="font-size: 20px; line-height: 20px; background: rgba(255, 0, 0, 0.5); color: white; padding: 20px; text-align: center;">
                Jobvite seems to be having problems.
            </div>
        </div>
    <% } %>

<% } %>

<%- body %>
<% if (session.email) { %>

</div>
<footer class="footer">
    <div class="keys clearfix">


        <div class="key">
            <div>Last data grab from Jobvite: <strong><%= last_update ? last_update : 'Unknown' %></strong>.</div>
            <div>Next update: <strong><%= next_update ? next_update : 'Unknown' %></strong>.</div>
            <div>Data is updated every 45 minutes, or you can ask Dylan for an immediate update.</div>
            <% if (in_progress) { %><div><strong>Data is updating <em>right now!</em></strong></div><% } %>
        </div>


        <% if (locals.has_ticks) { %>
        <div class="key clearfix">
            <span class="tick low">0 &ndash; 10 Days</span>
            <span class="tick medium">11  &ndash; 30 Days</span>
            <span class="tick high"> 30 Days or More </span>
            <div>Each dot represents a candidate who has been in that particular workflow step for the above number of days.</div>
        </div>
        <% } %>

        <% if (locals.has_mini) { %>
        <div class="key clearfix">
                <div class="candidate-mini">
                    <div class="tag color3">
                        <span class="days">5</span>
                    </div>
                    <div class="mini-content color3">
                        <div class="name employeeReferral">
                            Typical Candidate
                        </div>
                    </div>
                </div>

                <div class="candidate-mini employeeReferral" style="margin-left: 10px;">
                    <div class="tag color3">
                        <span class="days">16</span>
                    </div>
                    <div class="mini-content color3">
                        <div class="referral">&#9733;</div>
                        <div class="name employeeReferral">
                            Referred by Employee
                        </div>
                    </div>
                </div>

                <div class="candidate-mini employeeReferral" style="margin-left: 10px;">
                    <div class="tag color3">
                        <span class="days">3</span>
                    </div>
                    <div class="mini-content color3">
                        <div class="referral">S</div>
                        <div class="name employeeReferral">
                            Sourced Candidate
                        </div>
                    </div>
                </div>


            <div><strong>Number:</strong>  How many days the candidate has been in that workflow step.</div>
            <div><strong>Bold Names &amp; Star:</strong> Candidate was referred by an OPOWER employee.</div>
            <div><strong>Colors:</strong> Each color is a different open req.</div>
        </div>
        <% } %>

    </div>

    <div class="confidential">OPOWER CONFIDENTIAL</div>
</footer>
<% } %>

<%- scripts %>


<script type="text/javascript">
<%- locals.production ? '' : '/' + '**' %>
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-19171856-1']);
_gaq.push(['_trackPageview']);
//_gaq.push(['_trackEvent', 'Users', 'User Type', 'Who']);
(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
<%- locals.production ? '' : '**' + '/' %>
</script>

</body>
</html>