<h2>New Req</h2>

<form class="req" action="/req" method="get">

    <h1>This feature is almost ready!  Feel free to play with it now.</h1>

    <div class="instructions">
        <div class="clearfix">
            <div class="edit">
                <h2>This text...</h2>
                <textarea rows="" cols="" id="instructions" name="instructions"><%- instructions %></textarea>
            </div>
            <div class="preview">
                <h2>...becomes this HTML</h2>
                <div class="req-instructions">
                    <div>
                        <%- Markdown(instructions) %>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="clearfix position">
        <div class="edit">
            <h2>First type in your req...</h2>
            <div class="section req-position">
                <h3><label for="req-position">
                    About the Position
                </label></h3>
                <textarea rows="" cols="" name="position" id="req-position"><%= req.position %></textarea>
            </div>
            <div class="section req-team">
                <h3><label for="req-team">
                    About the Team
                </label></h3>
                <textarea rows="" cols="" name="team" id="req-team"><%= req.team %></textarea>
            </div>
            <div class="section req-you">
                <h3><label for="req-you">
                    About You
                </label></h3>
                <textarea rows="" cols="" name="you" id="req-you"><%= req.you %></textarea>
            </div>
        </div>

        <div class="preview">
            <h2>...Then copy and paste this into Jobvite</h2>

            <div class="preview-wrapper">
                <div class="preview-content">
                    <div class="section hidden req-position">
                        <h3>About the Position</h3>
                        <div>
                            <%- Markdown(req.position) %>
                        </div>
                    </div>
                    <div class="section hidden req-team">
                        <h3>About the Team</h3>
                        <div>
                            <%- Markdown(req.team) %>
                        </div>
                    </div>
                    <div class="section hidden req-you">
                        <h3>About You</h3>
                        <div>
                            <%- Markdown(req.you) %>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="hidden">
        <a href="#wtf!!!" class="button">Preview</a>
    </div>


</form>