<h2>Search for: <%= query %></h2>

<h3>Active &amp; Hired Candidates: <%= candidates.length > 50 ? 'Showing 50 of ' + candidates.length : candidates.length %></h3>
<% if (candidates.length) { %>
    <ul class="search-results active">
        <%- partial('candidate/search-results', { collection: candidates.slice(0, 50), as: 'candidate' } ) %>
    </ul>
<% } else { %>
    Nobody to show.
<% }  %>

<h3>Rejected Candidates: <%= rejected.length > 50 ? 'Showing 50 of ' + rejected.length : rejected.length %></h3>
<% if (rejected.length) { %>
    <ul class="search-results rejected-candidates">
        <%- partial('candidate/search-results', { collection: rejected.slice(0, 50), as: 'candidate' } ) %>
    </ul>
<% } else { %>
    Nobody to show.
<% }  %>

<% has_mini = true %>