<div class="clearfix">
    <h2>
        <%- page_title %>
    </h2>
</div>
        
<% if (options.when) { %>

    <div class="filter">
        When:
        <% Constants.TIMEFRAMES.forEach(function(value, id){ %>
        <a href="/sources<%= options.source_type ? '/' + options.source_type : '' %>?when=<%= url(id) %>" class="button pill <%= options.when == id ? ' active ' : ''%>"><%= id %></a>
        <% }) %>
    </div>
<% } %>

<table class="datatable">
    <thead>
        <tr>
        <% switch (locals.page_type) {
            case Constants.PAGE_TYPE.sources:
            case Constants.PAGE_TYPE.source:
        %>
            <th>Source</th>
            <th>Candidates</th>
            <th>Rejected</th>
            <th>Hired</th>
            <th>Active</th>
        <%
            break;
            case Constants.PAGE_TYPE.recruiters:
        %>
            <th>Recruiter</th>
            <th>Candidates</th>
            <th>Reqs</th>
        <%
            break;
            case Constants.PAGE_TYPE.managers:
        %>
            <th>Manager</th>
            <th>Candidates</th>
            <th>Reqs</th>
        <%
            break;
            case Constants.PAGE_TYPE.teams:
        %>
            <th>Team</th>
            <th>Candidates</th>
            <th>Reqs</th>
        <%
            break;
            case Constants.PAGE_TYPE.jobs:
        %>
            <th>Job Title</th>
            <th>Candidates</th>
            <th>Loc.</th>
            <th>Status</th>
            <th>Online</th>
        <%
            break;
            default:
        %>
        <%
             }
        %>

        <% Constants.STATUS_ORDER.forEach(function(value, key) {
            if (!value.hide) {
        %>
            <th data-sSortDataType="data" data-sType="numeric" class="ticks"><%- value.short ? value.short : key %></th>
        <% }
        }); %>
        </tr>
    </thead>
    <tbody>
    <%
        switch (locals.type || locals.page_type) {
            case Constants.PAGE_TYPE.recruiters:
            case Constants.PAGE_TYPE.managers:
            case Constants.PAGE_TYPE.teams:
            %><%-
                partial('table/employee', collection)
            %><%
                break;
            case Constants.PAGE_TYPE.sources:
            case Constants.PAGE_TYPE.source:
            %><%-
                partial('table/source', collection)
            %><%
                break;
            case Constants.PAGE_TYPE.jobs:
            %><%-
                partial('table/job', collection)
            %><%
                break;
            default:
                break;
        }
    %>
    </tbody>
</table>

<% has_ticks = true %>