<% var job = jobs[candidate.job_id] || extra_jobs[candidate.job_id] %>
<div class="details">
    <h3 class="name"><strong><%= candidate.name %></strong></h3>
    <div class="days <%= candidate.group %> smaller"><%= candidate.status %> <%= candidate.days === 0 ? 'today' : candidate.days === 1 ? 'yesterday' : candidate.days + ' days ago.' %>  (<%= candidate.date_short %>)</div>
    <% if (candidate.applied_days) { %>
    <div class="applied smaller">Applied <%= candidate.applied_days === 1 ? 'yesterday' : candidate.applied_days + ' days  ago' %>.</div>
    <% } %>
    <% if (job && job.title) { %>
    <div class="title section">
        <a href="/jobs/<%- url(job.title) %>"><%= job.title %></a>
        <div class="team smaller">
            <a class="team" href="/teams/<%- url(job.department) %>"><%= job.department %> - <%= job.location %></a>
        </div>
    </div>
    <% } %>

    <div class="hiring section section-title">Search for <%= candidate.name %></div>
    <div class="smaller">
        <a target="_blank" class="button" href="https://hire.jobvite.com/Hiring/ViewCandidate.aspx?a=<%- encodeURI(candidate.id) %>">Jobvite</a>
        <a target="_blank" class="button" href="http://www.linkedin.com/commonSearch?type=people&keywords=<%= candidate.name %>">LinkedIn</a>
        <a target="_blank" class="button" href="http://www.google.com/search?q=<%- encodeURI(candidate.name) %>">Google</a>
        <a target="_blank" class="button" href="http://www.facebook.com/search.php?q=<%- encodeURI(candidate.name) %>">Facebook</a>
    </div>

    <div class="source section section-title">Source
        <% if (candidate.source && candidate.source != candidate.source_type) { %>
            <strong class="smaller"><%= candidate.source_type %></strong>
        <% } %>
    </div>
    <div class="<%= (candidate.source_type == 'Employee Referral' || candidate.source_type =='Recruiter') ? ' source-employee' : ' source-not-employee' %> source relative">
        <% if (candidate.source_type =='Recruiter') { %>
            <div class="referral">S</div>
        <% } if (candidate.source_type =='Employee Referral') { %>
            <div class="referral">&#9733;</div>
        <% } %>

        <%- candidate.source || candidate.source_type %>

    </div>
    <% if (job && job.title) { %>
    <div class="columns clearfix">
        <div class="col1">
            <div class="hiring section">Hiring Managers</div>
                <% if (job && job.managers && job.managers.length > 0) {  %>
                <div class="smaller">
                    <%- partial('../referrals/manager', {collection: job.managers, as: 'manager'}) %>
                </div>
                <% } else { %>
                    <strong class='bad smaller'>No Hiring Manger</strong>
                <% } %>
            </div>
        <div class="col2">
            <div class="recruiters section">Recruiters</div>
            <% if (job && job.recruiters && job.recruiters.length > 0) { %>
            <div class="smaller">
                <%- partial('../referrals/recruiter', {collection: job.recruiters, as: 'recruiter'}) %>
            </div>
            <% } else { %>
                <strong class='bad smaller'>No Recruiter</strong>
            <% } %>
        </div>
    </div>
    <% } %>
</div>
