<% var color = (Object.keys(jobs).indexOf(candidate.job_id) || 0) + 1 %>

<li class="candidate-mini filter<%= color %> <%= candidate.source_type == 'Employee Referral' ? 'employeeReferral' : '' %> <%= candidate.group %>">

    <div class="tag color<%= color %>">
        <span class="days" ><%- candidate.days || 0 %></span>
    </div>

    <div class="mini-content color<%= color %>">
        <% if (candidate.source_type =='Recruiter') { %>
        <div class="referral">S</div>
        <% } else if (candidate.source_type =='Employee Referral') { %>
        <div class="referral">&#9733;</div>
        <% } %>
        <div class="name">
            <%= candidate.name %>
        </div>
    </div>
<%- partial('details') %>

</li>
