<% var job = jobs[candidate.job_id] %>
<tr>
    <td><a href="/search/<%- url(candidate.name) %>"><%= candidate.name %></a></td>
    <td>
        <% if (true || candidate.displayStatus) { %>
        <span class="<%= candidate.status=='Rejected' ? 'bad' : 'good' %>"><%= candidate.status %></span>
        <% } else { %>
        Ask Recruiter
        <% } %>
    </td>
    <td data-sort-value="<%= candidate.date %>" class="align-right">
        <%= candidate.date_short %>
    </td>
    <td>
        <% if (job) { %>
        <% if (job.status == 'Open') { %><a href="/jobs/<%= url(job.title) %>"><%= job.title %></a>
        <% } else { %><span class="inactive"><%= job.title %></span><% } %>
        <% } %>
    </td>
    <td><%- candidate.source %> <a href="/sources/<%-url(candidate.source_type) %>"><%= candidate.source_type %></a></td>
    <td><%- job && job.title != 'Athlete Pool' && job.recruiters && job.recruiters[0] && partial('recruiter', { collection: job.recruiters, as: 'recruiter' }) || '' %></td>
    <td><%- job && job.title != 'Athlete Pool' && job.managers && job.managers[0] && partial('manager', { collection: job.managers, as: 'manager' }) || '' %></td>
</tr>
